@page "/RadioProfile/Create"
@inherits SvxlinkManager.Pages.RadioProfile.CreateBase

<h3>@Loc["CreateTitle"]</h3>

<AddEditForm RadioProfile="@RadioProfile" HandleValidSubmit="@HandleValidSubmitAsync" SubmitTitle="@SubmitTitle" />