@page "/RadioProfile/Edit/{Id}"
@inherits SvxlinkManager.Pages.RadioProfile.EditBase

<h3>@Loc["EditTitle", RadioProfile.Name]</h3>

<AddEditForm RadioProfile="@RadioProfile" HandleValidSubmit="@HandleValidSubmitAsync" SubmitTitle="@SubmitTitle" />