@page
@model LoginModel

@{
  ViewData["Title"] = "Connexion";
}

<h1>Connexion</h1>
<div class="row">
    <div class="col-md-10">
        <section>
          <form id="account" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
              <label asp-for="Input.Email"></label>
              <input asp-for="Input.Email" class="form-control" />
              <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Input.Password">Mot de passe</label>
              <input asp-for="Input.Password" class="form-control" />
              <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
            <div class="row no-gutters">
              <div class="col" style="text-align: right"><span class="small">Version @Model.InformationalVersion</span></div>
            </div>
          </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
