@page "/Channel/Edit/{Id}"
@inherits Spotnik.Gui.Pages.Channels.EditBase

<h3>Editer @Channel.Name</h3>

<AddEditForm Channel="@Channel" HandleValidSubmit="@HandleValidSubmit" SubmitTitle="@SubmitTitle"/>

