@page "/spotnik"

@inherits Spotnik.Gui.ViewModels.HomeBase

<h3>Spotnik</h3>

<div class="row">
  <div class="col-3">
    <select class="form-control" @bind="@Channel">
      @foreach (var channel in Channels)
      {
        <option value="@channel.Id"> @channel.Name </option>
      }
    </select>
  </div>
</div>


