@page "/Reflector/Create"
@inherits SvxlinkManager.Pages.Reflector.CreateBase

<h3>@Loc["Title"]</h3>

<AddEditForm Reflector="@Reflector" HandleValidSubmit="@HandleValidSubmitAsync" SubmitTitle="@SubmitTitle" />