@page "/Reflector/Create"
@inherits SvxlinkManager.Pages.Reflector.CreateBase

<h3>Ajouter un reflecteur</h3>

<AddEditForm Reflector="@Reflector" HandleValidSubmit="@HandleValidSubmitAsync" SubmitTitle="@SubmitTitle" />