@page "/Reflector/Manage"
@inherits SvxlinkManager.Pages.Reflector.ManageBase

<div class="row">
  <div class="col-xl-2"><h3>Reflecteurs</h3></div>
  <div class="col-xl-2 offset-xl-8">
    <a class="btn btn-outline-success" href="Reflector/Create" role="button">Créer un nouveau reflecteur</a>
  </div>
</div>

<ul id="channel-manage-list" class="list-group-horizontal">
  @foreach (var rp in Reflectors)
  {
    <li class="list-group-item">
      <div class="row">
        <div class="col-xl-9 text-nowrap">
          @rp.Name
          @if (rp.Enable)
          {
            <div class="blink d-inline-block" style="margin-left:10px;">
              <span class="badge badge-danger">ON AIR</span>
            </div>
          }
        </div>
        <div class="col-xl-3">

          @if (!rp.Enable)
          {
            <button type="button" class="btn btn-outline-success" @onclick="@(() => StartAsync(rp.Id))">Démarrer</button>
          }
          else
          {
            <button type="button" class="btn btn-outline-success" @onclick="@(() => StopAsync(rp.Id))">Arrêter</button>
          }
          &nbsp;<a class="btn btn-outline-primary" href="Reflector/Edit/@rp.Id" role="button">Editer</a>&nbsp;
          @if (!rp.Enable)
          {
            <button type="button" class="btn btn-danger" @onclick="@(() => DeleteAsync(rp.Id))">Supprimer</button>
          }
        </div>
      </div>
    </li>
  }
</ul>