@using SvxlinkManager.Models

@page "/AdvanceChannel/Create"
@inherits SvxlinkManager.Pages.Channels.CreateBase<AdvanceSvxlinkChannel>

<h3>Ajouter un salon avancé</h3>

<AddEditForm Channel="@Channel" HandleValidSubmit="@(()=>HandleValidSubmit("AdvanceChannel"))" SubmitTitle="@SubmitTitle" CanEditType="@CanEditType" />