@using SvxlinkManager.Models

@page "/AdvanceChannel/Manage"
@inherits SvxlinkManager.Pages.Channels.ManageBase<AdvanceSvxlinkChannel>

<div class="row">
  <div class="col-xl-2"><h3>Salons avancés</h3></div>
  <div class="col-xl-3 offset-xl-7">
    <a class="btn btn-outline-success" href="AdvanceChannel/Create" role="button">Créer un nouveau salon avancé</a>
  </div>
</div>

<ul id="channel-manage-list" class="list-group-horizontal">
  @foreach (var channel in Channels)
  {
    <li class="list-group-item">
      <div class="row">
        <div class="col-xl-7 text-nowrap">
          @if (channel.IsDefault)
          {<span class="oi oi-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Le salon @channel.Name est actuellement le salon par défaut."></span>}
          @if (channel.IsTemporized)
          {<span class="oi oi-clock" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Le salon @channel.Name est temporisé."></span>}
          &nbsp;@channel.Name
        </div>
        <div class="col-xl-3">@channel.Dtmf</div>
        <div class="col-xl-2">
          <a class="btn btn-outline-primary" href="AdvanceChannel/Edit/@channel.Id" role="button">Editer</a> &nbsp; @if (!channel.IsDefault)
          {<button type="button" class="btn btn-danger" @onclick="@(() => DeleteAsync(channel))">Supprimer</button>}
        </div>
      </div>
    </li>
  }
</ul>