<table>
  <tr height="10px">
    @for (int i = 0; i < CalculateBars(Bars); i++)
    {
    <td width="10px" class="signal-bar">
      &nbsp;
    </td>
    }
  </tr>
</table>

@code {

  [Parameter]
  public string Bars { get; set; }

  public int CalculateBars(string bars) => 4 - bars.Count(f => f == '_');
}