<li class="list-group-item">
  <div class="row">
    <div class="col-xl-2 text-nowrap">
      @Device.Ssid
    </div>
    <div class="col-xl-2 text-nowrap">
      @Device.Rate
    </div>
    <div class="col-xl-2 text-nowrap">
      <BarTabs Bars="@Device.Bars" />
    </div>
    <div class="col-xl-2 text-nowrap">
      @Device.Security
    </div>
    <div class="col-xl-2 text-nowrap">
      Configuré
    </div>
    <div class="col-xl-2">
      <button type="button" class="btn btn-outline-primary" @onclick="() => OnUp.InvokeAsync(Device)">Connecter</button>
      <button type="button" class="btn btn-outline-danger" @onclick="() => OnDisconnect.InvokeAsync(Device)">Supprimer</button>
    </div>
  </div>
</li>

@code {
  [Parameter]
  public Device Device { get; set; }

  [Parameter]
  public EventCallback<Device> OnUp { get; set; }

  [Parameter]
  public EventCallback<Device> OnDisconnect { get; set; }
}