@page "/Wifi/Manage"

@attribute [Authorize]

<div class="row">
  <div class="col-md-2"><h3>Connexions Wifi</h3></div>
  <div class="col-md-2 offset-md-8">
    <a class="btn btn-outline-success" href="Wifi/Create" role="button">Nouvelle connexion</a>
  </div>
</div>

@code {

}