@page "/Updater/Manage"
@inherits SvxlinkManager.Pages.Updater.ManageBase

@if (!UpdaterService.Releases.Any())
{
  <div class="alert alert-primary" role="alert">
    Recherche de mise à jour.
  </div>
}
else
{
  if (UpdaterService.IsPreRelease)
  {
    <ManagePreRelease Releases="UpdaterService.Releases" OnDownload="DownloadAsync" OnInstall="InstallAsync" />
  }
  else
  {
    <ManageStable IsUpToDate="UpdaterService.IsUpToDate()" CurrentVersion="@UpdaterService.CurrentVersion" Release="@UpdaterService.GetLastRelease()" OnDownload="DownloadAsync" OnInstall="InstallAsync" />
  }
}