@page "/Install"
@layout InstallLayout

@inherits SvxlinkManager.Pages.Installer.HomeBase

<h3>Installation</h3>

@switch (InstallationStatus)
{
  case InstallationStatus.Security:
    <Security InstallerModel="@InstallerModel" OnSubmit="ChangeInstallationStatus" />
    break;
  case InstallationStatus.Channel:
    <ChannelsChoose InstallerModel="@InstallerModel" OnSubmit="ChangeInstallationStatus" />
    break;
  case InstallationStatus.DefaultChannel:
    <ChannelDefault InstallerModel="@InstallerModel" OnSubmit="ChangeInstallationStatus" />
    break;
  case InstallationStatus.RadioProfile:
    <RadioProfileDefault InstallerModel="@InstallerModel" OnSubmit="ChangeInstallationStatus" />
    break;
  case InstallationStatus.Wifi:
    break;
  case InstallationStatus.Update:
    break;
  default:
    break;
}

@code {
  public void ChangeInstallationStatus(InstallationStatus status)
  {
    InstallationStatus = status;
  }
}