@page "/"
@namespace SvxlinkManager.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Svxlink Manager</title>
  <base href="~/" />
  <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/pretty-checkbox.min.css" />

  <link href="~/css/site.css" rel="stylesheet" />

  <script src="~/js/jquery-3.5.1.min.js"></script>
  <script src="~/js/popper.min.js"></script>
  <script src="~/js/bootstrap/bootstrap.min.js"></script>

  <script src="~/js/tooltip.js"></script>
</head>
<body>
  <app>
    <component type="typeof(App)" render-mode="Server" />
  </app>

  <div id="toasts" style="position: absolute; bottom: 0; right: 0; margin-bottom: 10px; margin-right: 10px;">
  </div>

  <div id="blazor-error-ui">
    <environment include="Staging,Production">
      An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
      An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
  </div>

  <script src="_framework/blazor.server.js"></script>
</body>
</html>