@using SvxlinkManager.Models

@page "/Channel/Create"
@inherits SvxlinkManager.Pages.Channels.CreateBase<SvxlinkChannel>

<h3>Ajouter un salon</h3>

<AddEditForm Channel="@Channel" HandleValidSubmit="@(()=>HandleValidSubmit("Channel"))" SubmitTitle="@SubmitTitle" CanEditType="@CanEditType" />