@inherits LayoutComponentBase

  <div class="sidebar">
    <InstallNavMenu />
  </div>

<div class="main">
  <div class="top-row px-4 auth">
    tototot
    <LoginDisplay />
  </div>

  <div class="content px-4">

    @Body
  </div>
</div>