@using System.Globalization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<LoginDisplay> Loc

<AuthorizeView>
  <Authorized>

    <CultureSelector />

    <a href="Identity/Account/Manage">@Loc["Hello", @context.User.Identity.Name]</a>
    <form method="post" action="Identity/Account/LogOut">
      <button type="submit" class="nav-link btn btn-link">@Loc["LogOut"]</button>
    </form>
  </Authorized>
  <NotAuthorized>
    <a href="Identity/Account/Login">@Loc["LogIn"]</a>
  </NotAuthorized>
</AuthorizeView>